/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #44915bc4;
    line-height: 1.6;
}

/* Header */
header {
    text-align: center;
    padding: 2rem;
    background-color: #267c2b;
    color: #fff;
}

header .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

header h1 {
    margin-top: 1rem;
    font-size: 2rem;
}

/* Sobre */
.about {
    padding: 2rem;
    text-align: center;
}

.about h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

/* Portfólio */
.portfolio {
    padding: 2rem;
    background-color: #74f0887c;
    text-align: center;
}

.portfolio h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.project {
    width: 250px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.project h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #277e4b;
    margin-top: 2rem;
}
